@charset "utf-8";

/*

   Author: Aiden Gorham
   Date: 7/22/2020

   Filename: projects.css

   This file contains the css design code used on the
   projects page of my website.

*/

body {
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("../images/projects_image.jpg");
}

body > div {
  width: 900px;
  margin: 20vh auto;
  overflow: auto;
  background-color: transparent;
}

body > h1 {
  font-family: helvetica;
  color: white;
  padding-left: 20px;
}

body > div > ul {
  list-style-type: none;
  background-color: transparent;
  transition-duration: 0.5s;
}

li img {
  border: 0 solid;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

li img:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 7px;
  box-shadow: 0px 0px 7px;
}
